@import '../index.scss';

.footer {
    width: 100%;
    background-color: rgba(32, 32, 32, 0.733);
    color: $color2;
    font-family: $bodyfont2;

    img {
        width: 20%;
        margin-left: 40%;
        padding: 0rem 0 1rem;
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
    }

    .link-button {
        width: 100%;
        display: flex;

        .footer-links {
            width: 50%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            font-size: 17px;


            ul {
                width: 20%;

                li {
                    list-style-type: none;
                    padding: .7rem 0;

                    a {
                        color: $color2;
                        text-decoration: none;
                    }
                }
            }

            
        }

        .buttons {
            width: 50%;
            text-align: right;
            margin-right: 4.3rem;

            button {
                width: 20%;
                font-size: 17px;
                margin: 3rem 3rem;
                padding: .4rem 0;
                text-transform: uppercase;
                cursor: pointer;
                font-weight: 900;
                color: $color2;
                border: 1px solid rgba(255, 167, 52, 0.877);
                background-color: rgba(32, 32, 32, 0.274);
                border-radius: 20px;

            }

            button:hover {
            background-color: rgb(216, 122, 7);

            }
        }
    }

    .footer-socials {
        width: 70%;
        margin-left: 25%;
        text-align: right;
        
        .iconfa, .iconig, .iconlnd, .icontw {
            margin: 3rem 3rem;
        }

        .iconfa:hover {
            color: rgb(62, 62, 238);
        }
        .icontw:hover {
            color: rgba(17, 17, 104, 0.616);
        }
        .iconig:hover {
            color: rgb(225,48,108);
        }
        .iconlnd:hover {
            color: rgb(236, 236, 236);
        }

    }

    p {
        text-align: center;
        width: 100%;
        padding: 0 0 1rem;
    }

    
}