@import "../index.scss";

.hero {
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 2rem 5%;
    justify-content: space-around;
    font-family: $bodyfont2;
    background: rgba(55, 55, 221, 0.733);
    min-height: 75vh;
    color: $color2;

    .hero-section1 {
        width: 30%;
        height: 45vh;
        background-color: rgba(131, 131, 221, 0.733);
        color: $color2;
        margin: 8rem 0 0;
        border-radius: 20px;

        h1 {
            font-size: 40px;
            padding: 3rem;
            word-spacing: 1px;
            line-height: 9vh;
        }


    }

    .hero-section2 {
        width: 50%;


        img {
            width: 60%;
            margin-top: 2rem;
            margin-left: 10%;
        }

        span {
            font-size: 25px;
            text-transform: uppercase; 
            font-weight: 800;
        }

        h3 {
            width: 60%;
            margin-left: 20%;
            font-weight: 200;
            font-size: 18px;
            padding: 1rem 0 1rem;
            word-spacing: 1px;
            line-height: 5vh;
        }

        button {
            width: 30%;
            padding: .5rem;
            margin: 1rem 0 3rem 20%;
            font-size: 14px;
            border: none;
            background-color: rgb(124, 87, 37);
            color: $color2;
            text-transform: uppercase;
            font-weight: 600;
            cursor: pointer;
            animation: example 5s infinite;
        }

          button:hover {
              background-color: rgba(255, 167, 52, 0.877);
          }

      
    }


   @keyframes example {
       from {
           background-color: rgb(173, 113, 33);
       }

       to {
           background-color: rgb(226, 133, 11);
       }
   }

   
        
}
