@import "../index.scss";

.hero {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0 0 2rem;
    justify-content: space-around;
    font-family: $bodyfont2;
    min-height: 90vh;
    color: $color2;
    background-image: url(../Assets-books/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    

    .hero-section1 {
        width: 30%;
        height: 45vh;
        background-color: rgba(32, 32, 32, 0.733);
        color: $color2;
        margin: 9rem 0 0 3rem;
        border-radius: 20px;

        h1 {
            font-size: 40px;
            padding: 3rem;
            word-spacing: 1px;
            line-height: 9vh;
        }


    }

    .hero-section2 {
        width: 50%;


        span {
            font-size: 30px;
            text-transform: uppercase; 
            font-weight: 800;
        }

        h3 {
            width: 60%;
            margin: 12rem 0 0 20%;
            font-weight: 900;
            font-size: 20px;
            padding: 1rem 0 1rem;
            word-spacing: 1px;
            line-height: 6vh;
            color: $color2;
        }

        button {
            width: 30%;
            padding: .5rem;
            margin: 1rem 0 3rem 20%;
            font-size: 14px;
            background-color: rgba(32, 32, 32, 0.733);
            border: 1px solid rgba(255, 167, 52, 0.877);
            color: $color2;
            text-transform: uppercase;
            border-radius: 5rem;

            font-weight: 600;
            cursor: pointer;
            animation: example 5s infinite;


            a {
                text-decoration: none;
                color: $color2;
            }
        }

          button:hover {
              border: none;
              background-color: rgba(255, 167, 52, 0.877);
          }

      
    }


//    @keyframes example {
//        from {
//            background-color: rgb(173, 113, 33);
//        }

//        to {
//            background-color: rgb(226, 133, 11);
//        }
//    }

   
        
}
