@import '../index.scss';

.profile {
    width: 100%;
    display: flex;
    flex-wrap: wrap;


    .aside-left {
        width: 20%;
        height: 100vh;

        .profile-info {
            width: 80%;
            border-bottom: 1px solid $color1;
            margin-left: 10%;

            img {
                width: 50%;
                border-radius: 100%;
                margin: 3rem 0 2rem 3rem;
            }

            h1 {
                font-size: 18px;
                text-transform: capitalize;
                margin: 0 0 3rem 3rem;
                
            }
        }

        ul {
            margin: 2rem 0 2rem 5rem;

            h2, h3, h4, h5, h6 {
                padding-top: 2rem;
                font-size: 16px;
                text-transform: capitalize;
            }
        }
    }

    .aside-right {
        width: 75%;
        background-color: rgba(55, 55, 221, 0.733);
        height: 50vh;
        margin-left: 2.5%;
        margin-top: 2.5vh;
        border-radius: 10px;
        color: $color2;
        text-transform: uppercase;

        .add-books-right {
            width: 100%;
            display: flex;
            justify-content: space-between;
            
        }

        p {
            font-size: 14px;
            font-weight: 900;
            margin: 1rem 2rem;
        }

        button {
            margin-right: 2rem;
            max-height: 50px !important;
            background-color: rgba(197, 135, 55, 0.733);
            color: $color2;
            font-weight: 900;
            text-transform: uppercase;
            padding: .5rem 1rem;
            margin-top: 1rem;
            border: 1px solid $color2;
        }

        form {
            width: 50%;

            input {
                padding: .5em;
                margin: .1rem 2rem;
                border-radius: 5px;
                border: none;
            }
            .add-file, .add-file2 {
                width: 65%;
                border-radius: 5px;
                border: 1px solid white;
                margin-left: 2rem;
            }

            .add-file::before {
                    content: 'Select cover photo';
                    display: inline-block;
                    padding: 4px 8px;
                    outline: none;
                    white-space: nowrap;
                    -webkit-user-select: none;
                    font-weight: 700;
                    font-size: 10pt;
            }
            .add-file2::before {
                    content: 'Select book file';
                    display: inline-block;
                    padding: 4px 8px;
                    outline: none;
                    white-space: nowrap;
                    -webkit-user-select: none;
                    font-weight: 700;
                    font-size: 10pt;
            }

            button {
                margin-left: 2rem;
                border-radius: 5px;
            }
        }
    }

    .aside-right-bottom {
         width: 75%;
         height: 45vh;
         margin-left: 22.5%;
         align-self: center;
         position: absolute;
         bottom: -5rem;

         .books-box {
            overflow-x: scroll;
             width: 100%;
             display: flex;
             text-align: center;
         }


         img {
             width: 100px;
             margin: .7rem 1rem;
             border: 1px solid  rgba(197, 135, 55, 0.733);

         }

         button {
             margin: 1rem 0 1rem;
             padding: .2rem .4rem;
             background-color: rgba(197, 135, 55, 0.733);
             border: none;
             border-radius: 3px;
             color: $color2;
             cursor: pointer;

             a {
                 text-decoration: none;
                 color: $color2;
             }
         }

         button:hover {
              background-color: rgb(216, 122, 7);
         }
    }
}